.bg-primary {
  background-color: var(--pr-blue) !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: var(--pr-blue-hover) !important;
}

.btn-primary {
  color: #fff;
  background-color: var(--pr-blue);
  border-color: var(--pr-blue);
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--pr-blue-hover);
  border-color: var(--pr-blue-hover);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--pr-blue-hover);
  border-color: var(--pr-blue-hover);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: unset;
}

.text-primary {
  color: var(--pr-blue) !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: var(--pr-blue-hover) !important;
}
