body {
  box-sizing: content-box;
  background: $light-bg;
  margin: 40px auto;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  line-height: 170%;
}

#app {
  margin: 40px auto;
  max-width: 1426px;
  padding: 0 24px;
}

/* RESET */
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
}

ol,
ul {
  list-style: none;
}

/* UTILITY */
.text-gray-6 {
  color: $pr-black;
}
.brd-gray-3 {
  border-color: $lighten-bg;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-14 {
  font-size: 14px;
}
.w-50 {
  width: 50%;
}
.max-w-content {
  max-width: fit-content;
}
.min-h-350 {
  min-height: 350px;
}
.border-dashed {
  border: 2px dashed $lighten-3;
}
.cursor-pointer {
  cursor: pointer;
}
.transition {
  transition: ease 0.2s all;
}
